<div class="flex flex-col lg:flex-row items-start justify-center gap-8 px-4 py-8">
    <button 
        (click)="goBack()" 
        class="mt-4 bg-indigo-500 hover:bg-indigo-400 text-white font-semibold py-2 px-4 rounded shadow transition-all duration-150">
        ← Back
    </button>

    <!-- Card Image -->
    <div class="md:w-1/2 flex justify-center">
        <img 
        [src]="card.image_url" 
        [alt]="card.name" 
        class="rounded shadow-lg max-w-full max-h-[600px] object-contain"
      />
      
    </div>
  
   <!-- Card Info Container -->
   <div class="bg-gray-900/50 dark:bg-gray-800/50 border border-gray-700 rounded-lg shadow-md p-6 h-auto w-full max-w-xl">
        <h1 class="text-2xl font-bold">{{ card.name }}</h1>
        <p class="text-indigo-400">{{ card.type_line }}</p>
        <p class="text-sm italic text-gray-700 dark:text-gray-400 font-serif">{{ card.oracle_text }}</p>
    
        <div class="mt-4 space-y-1">
            <p><span class="font-semibold">Rarity:</span> {{ card.rarity | titlecase }}</p>
            <p><span class="font-semibold">Set:</span> {{ card.set_name }}</p>
            <p><span class="font-semibold">Mana Cost:</span> {{ card.mana_cost }}</p>
            <p class="text-xs text-gray-600 dark:text-gray-400 italic">
                USD: ${{ card.price_usd || 'N/A' }} | Foil: ${{ card.price_usd_foil || 'N/A' }} | EUR: €{{ card.price_eur || 'N/A' }}
              </p>
              
        </div>
    
        <!-- Legalities -->
        <div *ngIf="card.legalities" class="pt-4">
            <h2 class="text-lg font-bold mb-2">Legalities</h2>
                <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-2">
                    <div *ngFor="let format of legalFormats(card.legalities)">
                        <span
                            class="inline-block px-2 py-1 rounded text-xs font-semibold"
                            [ngClass]="card.legalities[format] === 'legal' 
                            ? 'bg-green-500 text-white' 
                            : 'bg-red-500 text-white'"
                        >
                            {{ format | titlecase }}: {{
                            card.legalities[format] === 'not_legal' 
                                ? 'Not Legal' 
                                : card.legalities[format] | titlecase
                            }}
                        </span>
                    </div>
                </div>
        </div>
  
    </div>
</div>
  